{{ define "css/createGame" }}
form#questionsForm input[type=text] {
    width: 250px;
}
form#questionsForm textarea {
    height: 140px;
    width: 500px;
}
div#weight {
    font-size: .7em;
    margin: 2%;
}
{{ end }}

