{{ define "css/viewGame" }}
form#displayGame {
    border: 1px solid #000;
    border-radius: 0;
}
form#displayGame:nth-child(2) div:first-child {
    background-color: #000;
    border-radius: 0;
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
}
{{ end }}

