{{ define "css/viewGame" }}
div#viewGame {
    margin: 20px auto auto;
    width: 50%;
}
form#viewGameForm div {
    background-color: #c3ddb4;
    border: 1px solid #000;
	border-radius: 10px;
}
form#displayGame {
    border: 1px solid #000;
    border-radius: 0;
}
{{ end }}

