{{ define "createGame" }}
<div id="createGame" class="hide">
    {{ template "form/gameAndFilename" }}
    {{ template "form/createGame" }}
    <!--
    <div>
        <p>
        <input id="downloadGame" value="Download Game" type="button">
        </p>
    </div>
    -->
</div>
{{ end }}

