{{ define "page/runGame" }}
<div id="runGame" class="hide">
    <form id="runGameForm">
        <div>
            <p>
            <label for="gameList">Select Game</label>
            <select name="gameList">
            </select>
            </p>
        </div>
    </form>
</div>
{{ end }}

