{{ define "page/viewGame" }}
<div id="viewGame" class="hide">
    <form id="viewGameForm">
        <div>
            <p>
            <label for="viewGameList">Select Game</label>
            <select name="viewGameList" id="viewGameList">
            </select>
            </p>
        </div>
    </form>

    <form id="displayGame">
        <div contenteditable="true">
        </div>
    </form>
</div>
{{ end }}
