<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style></style>
</head>
<body>
<h1>You've done something terribly wrong</h1>
<p>HTTP Status Code: {{ .Code }}</p>
<p>HTTP Message: {{ .Message }}</p>
<a href="/login">Go back to Login page</a>
</body>
</html>

